body {
  background-color: rgb(252, 252, 246);
  margin: auto;
  max-width: 1000px;
  padding: 1.5rem;
}

h1 {
  font-size: 3rem;
  color: rgb(101, 101, 59);
}

h3 {
  font-size: 1.8rem;
  color: rgb(77, 77, 27);
}

p {
  font-size: 23px;
  color: rgb(78, 78, 24);
}

.container {
  background-color: #fffffd;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #bab7b7;
}

.scrollPara {
  background-color: blue;
}
